@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Calistoga&display=swap');

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    scroll-behavior: smooth;
    font-family: 'Lato', Arial, Helvetica, sans-serif;  
  }
  
  body {
    background-color: var(--color-white);

  }

  :root {
    --color-white: #fafcfd;
    --color-green: #00B899;
    --color-lightgreen: #80DBCC;
    --color-blue: #025393;
    --color-highlights: #00C27A;
    --color-black: #131313;
    }
    